# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Virtual environment
venv/
.venv/
env/

# Environment variables
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Django
*.sqlite3
staticfiles/
media/

# Node / React
frontend/node_modules/
frontend/build/
frontend/.env.local

# Celery
celerybeat-schedule
celerybeat.pid
